* {margin:0; padding:0; box-sizing: border-box;}
.container {display: flex; justify-content: center;}
.box {margin:40px; position: relative; width: 450px; height: 650px; display: flex; background-image: url(assets/4.jpg); background-size: cover; background-position: center center; border-radius: 40px;}
.bottom {display: flex; align-items: end; width: 100%; padding: 20px; justify-content: space-between;}
.bottom img {object-fit: contain; object-position: 50%; height: 25px;}

/* BUTTON */
.btn-save {position: absolute; right:20px; top:20px; opacity:0; padding: 20px; min-width: 100px; border-radius: 40px; border:none; background-color: red; }
.btn-save a {color: white; font-size: 22px; letter-spacing: 1px; font-weight: 500; text-decoration: none;}
.btn-link, .btn-upload, .btn-more {opacity: 0; padding: 10px; border-radius: 40px; min-width: 70px; min-height: 70px; border:none; color: black; font-size: 22px; letter-spacing: 1px; font-weight: 500; background-color: lightgray;}
.btn-link {padding: 10px 20px;}
.btn i {font-size: 25px; color:black;}
.btn-link a {color: black; text-decoration: none;}

/* HOVER */
.box:hover > button {opacity: 1; transition: 0.2s linear;}
.btn-save:hover {transform: translate(0px, 20px); transition: 3s;}
.box:hover > div.bottom > button {opacity: 1; transition: 0.2s linear;}
.btn-link:hover, .btn-upload:hover, .btn-more:hover {transform: translate(0px, -20px); transition: 3s;}